<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Posts
      <small>Update</small>
    </h1>
    <ol class="breadcrumb">
      <li>
        <a routerLink="/">
          <i class="fa fa-dashboard"></i> Home</a>
      </li>
      <li>
        <a routerLink="/posts"> Posts</a>
      </li>
      <li class="active">Update</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">

    <div class="box">
      <div class="box-header">
        <h3 class="box-title">Update</h3>
        <div class="text-right">
          <a title="Add" class="btn btn-primary btn-md" routerLink="/posts/create">
            <i class="fa fa-edit">Add New</i>
          </a>
        </div>
      </div>

      <div class="box-body">

        <form role="form" #form="ngForm">
          <div class="box-body">
            <div class="form-group">
              <label>Post Title</label>
              <input type="text" class="form-control" name="post_title" [(ngModel)]="post.post_title" placeholder="Enter Post Title">
            </div>
            
              <!-- 
                <div class="form-group">
                  <label for="exampleInputPassword1">Password</label>
                  <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                </div>
                <div class="form-group">
                  <label for="exampleInputFile">File input</label>
                  <input type="file" id="exampleInputFile">

                  <p class="help-block">Example block-level help text here.</p>
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox"> Check me out
                  </label>
                </div>
              -->

          </div>
          <!-- /.box-body -->

          <div class="box-footer">
              <button type="submit" [disabled]="!form.valid" class="btn btn-primary">Submit</button>
              <button type="button" routerLink="/posts" class="btn btn-danger">Cancel</button>
            </div>
        </form>

      </div>
    </div>
  </section>
</div>